<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Open+Sans:wght@300&family=Pushster&display=swap" rel="stylesheet">
  <style>
    body {
      background: #d5c7b8;
    }
    img {
      float: left;
      margin-left: -50px;
    }
    h1 {
      font-family: 'Pushster',cursive;
      float: right;
      margin-right: 30px;
      color: #3d3c3a;
      font-size: 2.5rem;
    }
  </style>
</head>
<body>
  <img src="/assets/myserve-icon-gograph-gg78993394-white-sm.png" />
  <h1>Myserve</h1>
    <%-homeDirs.map(userName => `<a href="http://localhost:8080/?arg=${userName}&arg=${userName}-server&arg=bash">${userName}</a>`).join('<br>')%>
</body>
</html>
