<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
  <style>

    body {
      background: #e1eae7;
    }

    a {
      font-family: 'Forum', sans-serif;
      color: #000100;
      font-size: 2.4rem;
      text-decoration: none;
    }

    a:hover {
      color: #000100b3;
    }

    a:active {
      color: #000100;
    }

    .row {
      display: flex;
    }

    .mascot {
      flex: 1;
      margin-top: 3em;
    }

    .mascot img {
      width: 720px;
    }

    .home-dirs {
      flex: 3;
      padding: 30px;
      margin-top: 11em;
      margin-right: 4em;
      text-align: end;
    }

  </style>
</head>
<body>
  <div class="row">

    <div class="mascot">
      <img src="/assets/cover.png" />
    </div>

    <div class="home-dirs">
    <%-
      homeDirs.map(userName =>
      `<a href="http://localhost:8080/?arg=${userName}&arg=${userName}-server&arg=bash">
        ${userName}
      </a>`
      ).join('<br>')
        %>
      </div>

  </div>

</body>
</html>
